<div id="formbox" class="col-md-6">
	<div class="center">
		<form method="Post" action="/movies/create">
		<fieldset>
		<legend>New Movie</legend>
			<p class="form-group">
				<label for="Name-field">Name</label>
				<input type="text" name="name" id="Name-field">
			</p>
			<p class="form-group">
				<label for="Year-field">Year</label>
				<input type="text" name="year" id="Year-field">
			</p>
			<p class="form-group">
				<label for="Director-field">Director</label>
				<input type="text" name="director" id="Director-field">
			</p>
			<p class="form-group">
				<label for="Length-field">Length</label>
				<input type="number" name="length" id="Length-field"> 
			</p>
			<p class="form-group">
				<label for="Country-field">Country</label>
				<input type="text" name="country" id="Country-field">
			</p>
			<p class="form-group">
				<label for="Genre-field">Genre</label>
				<input type="text" name="genre" id="genre-field">
			</p>
			<!-- what about actor/id? and user(creator id?)  -->
			<button type="submit" class="btn btn-default">Submit</button>
		</fieldset>
		</form>
	</div>
</div>
