<br>
<br>
<div class="container">
	<h2>Profile</h2>
	<form action="/profile/edit" method="post" class="form-horizontal">
		<div class="form-group">
			<label for="email" class="col-sm-1 control-label">E-mail</label>
			<div class="col-sm-4">
				<input type="email" class="form-control" id="email" name="email" placeholder="email" value="<%= @current_user.email %>">
			</div>
		</div>
		<div class="form-group">
			<label for="Password" class="col-sm-1 control-label">Password</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="Password" name="password" placeholder="Password" value="<%= @current_user.password %>">
			</div>
		</div>
		<div class="form-group">
			<label for="radio1" class="col-sm-1 control-label">Gender</label> 
			<div class="col-sm-4">
				<input type="radio" name="sex" value"male" id="radio1" checked="checked"><span id="Spansex"> Male</span>
				<br>
				<input type="radio" name="sex" value"female" id="radio2"><span id="Spansex"> Female</span>
			</div>
		</div>
		<div class="form-group">
			<label for="first_name" class="col-sm-1 control-label">First Name</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="<%= @current_user.first_name %>">
			</div>
		</div>
		<div class="form-group">
			<label for="last_name" class="col-sm-1 control-label">Last Name</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="<%= @current_user.last_name %>">
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-default">Update</button>
		</div>
	</form>
</div>